{% extends 'base_dashboard.html' %}
{% block head %}
<title> Dashboard | AI Doctor </title>
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div class="row">
    <div class="card mx-3 my-3 col-3" style="width: 18rem;">
      <img src="{{ url_for('static', filename='img/card2.png') }}" class="card-img-top" alt="AI Doctor">
      <div class="card-body">
        <h5 class="card-title">AI Doctor</h5>
        <p class="card-text">Predict your disease with the help of an AI Doctor</p>
        <a href="{{ url_for('chat_bot') }}" class="btn btn-primary">Click Here</a>
      </div>
    </div>

    <div class="card mx-3 col-3 my-3" style="width: 18rem;">
      <img src="{{ url_for('static', filename='img/chat.jpg') }}" class="card-img-top" alt="AI Doctor">
      <div class="card-body">
        <h5 class="card-title">Online Doctor</h5>
        <p class="card-text">Chat with a doctor online and live.</p>
        <a href="{{ url_for('chat') }}" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>

</main>

{% endblock %}