{% extends 'base.html' %}

{% block head %}
<title> Sign in | AI Doctor | Your Virtual Doctor</title>
{% endblock %}

{% block content %}

{% if response == 'failed' %}
<div class="alert alert-danger text-center" role="alert">
    Username or password or both is wrong!
  </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form action="/login" method="POST">
                                <div class="mb-3">
                                  <label for="email" class="form-label">Email address</label>
                                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
                                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3">
                                  <label for="password" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
                                <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input" id="remember" name="remember">
                                  <label class="form-check-label" for="remember">Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

{% endblock %}